
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* background-color */

.background-color{
    background-color: rgba(144, 188, 250, 0.132);
}


.background-color-footer{
    background-color: white;
}



.btn-primary{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px 12px 36px;
    border-radius: 5px;
   
}

/* shared items */
.color-share{
    color: rgba(78, 71, 255, 1);
}

.text-center{
    text-align: center;
}



/* header */
/* nav style */

.header{
    background-image: url(../media/image/Hero-bg.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}

.nav-title{
    font-size: 34px;
    font-weight: 900;
}

nav ul li{
    list-style: none;
}

/* banner sec */

.banner{
    text-align: center;
    margin: 140px 200px;


}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    max-width: 100%;
    
}
.banner-button{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px 12px 36px;
    border-radius: 5px;
    margin-bottom: 152px;

}

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action part */

.action{
    display: flex;
    justify-content: space-between;
    margin: 116px 80px 116px 80px;
    gap: 120px;

}

.action-content{
    width: 517px;
    height: 203px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;

}

.action-sub-title{
    font-size: 24px;
    font-weight: 400;
}

.action-profile-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* production */

.Productive{
    
    /* margin: 116px 159px 137px 141px; */
    margin-top: 116px;
    border-radius: 24px;
    padding: 50px 142px; 
    text-align: center;
    height: 360px;
    /* width: 1140px; */
}

.Productive-title{
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    


}

.Productive-items{
    display: flex;
    justify-content: space-around;
    /* gap: 158px; */
}

.Productive-item{
    margin-top: 5px;
}


.Productive-number{
    /* margin-bottom: 5px; */
    margin-bottom: 5px;
}

.Productive-number{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
}

.Productive-lebel{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.secondary-backg{
    background-color: rgba(78, 71, 255, 0.1);
}

/* user feedback part */

.Feedback{
    margin-top: 137px;
}

.Feedback-container{
    display: flex;
    gap: 20px;
}

.Feedback-title{
    font-size: 42px;
    font-weight: bold;
}

.Feedback-sub-title{
    font-size: 24px;
    font-weight: 600;
}

.Feedback-description{
    font-size: 16px;
    font-weight: 400;
}

.User-Feedback{
    padding: 24px 24px 24px 24px;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    border-radius: 14px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border:1px solid rgba(242, 237, 237, 1) ;

}

.Feedback-footer{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.Feedback-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.User-Name{
    margin-bottom: 5px;
    
}

.User-Date{
    margin-top: 0px;
}

.User-Name{
    font-size: 16px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
}

.User-Date{
    font-size: 16px;
    font-weight: 400;
    color: rgba(179, 179, 179, 1);
}

/* Touch-section-part */

.touch-section-div{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    margin-top: 93px;
    
}

.Touch-column{
    width: 50%;
}

.Touch-section input[type="text"],.Touch-section input[type="email"] {
    font-size: 20px;
    font-weight: 400;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    display: block;
     padding: 10px 30px;
     box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    /* border-color: rgba(214, 221, 237, 1); */
    margin-bottom: 19px;
    border:1px solid rgba(242, 237, 237, 1) ;
}

.Touch-section textarea{
    font-size: 20px;
    font-weight: 400;
    height: 107px;
    width: 100%;
    border-radius: 10px;
    display: block;
     /* padding: 20px 113px 20px 32px; */
    padding: 10px 30px; 
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    /* border-color: rgba(214, 221, 237, 1); */
    margin-bottom: 19px;
    border:1px solid rgba(242, 237, 237, 1) ;
}

.btn-primary-1{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(78, 71, 255, 1);
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
}

.Touch-title{
    font-size: 97px;
    font-weight: bold;
    width: 528px;
    height: 232px;
}

.label-title{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    
}

/* Logo section part */
.LOGO{
    
    justify-items: center;
}

.logo-description{
    margin: 104px 455px 0px 454px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1140px;
    padding: 0px 20px;
    width: 531px;
    height: 221px;
}


.logo-title{
    font-size: 100px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
    margin: 0px 2px 8px 0px;
}

.logo-sub-title{
    font-size: 16px;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
    margin: 0px 0px 15px 0px;
}

.logo-service ul{
    display: flex;
    gap: 48px;
    text-align: center;
    align-items: center;
    margin: 0px 35px 0px 0px;

}

.logo-service ul li{
    list-style: none;

    
}

.logo-service ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
}

/* Button section */

.Button-hover{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.Button-hover ul li{
    list-style: none;

}
/* .Button-hover ul li a:hover{
    text-decoration: none;
    background-color: chartreuse;
    color: cornflowerblue;
    
} */

.btn-primary-2{
    border: none;
    background-color: blueviolet;
    cursor: pointer;
    color: rgb(63, 233, 162);
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px 12px 36px;
    border-radius: 5px;
    margin-right: 40px;
}

.btn-primary-2:hover{
    background-color: blue;
    color: cyan;
    transform: scale(1.05);
    box-shadow: 0 4px 8px darkcyan;
    transition: all 0.3s ease-in-out;
}

